<ion-view id="tabsController">
  <ion-tabs class="tabs-positive tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="排班" icon="ion-plane" ui-sref="tabsController.roster" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="公告牌" icon="ion-android-clipboard" ui-sref="tabsController.notification" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人信息" icon="ion-ios-person" ui-sref="tabsController.myinfo" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
